<html>
	<head>
		<meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		  <style type="text/css">
		  	#heading{
		  		font-family:"Lucida Console", Courier;
		  	}
		  	#myform{
		  		width: 400px;
		  		height: 300px;
		  		margin-left: 300px;
		  		padding:20px;
		  		border-radius: 10px;
		  		margin-top: 20px;
		  	}
		  	.ps, #leftSide{
		 		font-family: "Lucida Console", Courier;
		 	}
		 	#leftSide{
		 		margin-left: 50px;
		 		width: 400px;
		 		height: 300px;
		 		margin-top: 20px;
		 		padding: 20px;
		 		border-radius: 10px;
		 	}
		  </style>
	</head> 
   <body>       
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/evaluate">Evaluate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict">Predict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/SmartPracticeschool/SBSPS-Challenge-691-Predicting-the-energy-output-of-wind-turbine-based-on-weather-condition">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www.linkedin.com/in/mahesh-keswani">LinkedIN Profile</a>
          </li>
          
        </ul>
      </nav>  

      <div class="container">

      	<div class="row">
      		<div class="col-md-3">
      			<div class="jumbotron jumbotron-fluid" id="leftSide">
      				<h3>What this page does ?</h3>
      				<hr>
      				<p>Takes the number between 144 and 50458 because model takes 144 previous steps to predict the next 72 steps, therefore the minimum number should be 144, then it takes that number fetches previous 144 data points from the dataset and predicts the best time for which Active power will be high for next 72 hours.</p>
      			</div>
      		</div>
      		<div class="col-md-9">
      			<div class="jumbotron" id="myform">
	      			<form method="post" action="/evaluate">
					  <div class="form-group">
					    <label for="number" id="heading">Enter number between 144 and 50458</label>
					    <input type="number" class="form-control" name = "number" placeholder="Enter number" min="144" max="50458" id="number">
					    <br>
					    <center>
					    	<input type="submit" class="btn btn-primary" value="Submit">
					    </center>
					    
					  </div>
			  		</form>	
		  		</div>
      		</div>
      	</div>

     </div>
     <br><br>
     <div class="jumbotron jumbotron-fluid">
     	<div class="container">
		    <p class = "ps">Due to the unavailability of any API which provides the data of about wind speed, wind gust, wind direction,etc.  of the wind farm in real time, also these are some of the features used for building the model.</p>
		    <hr>
		    <p class="ps">Therefore, for the evaluation, the application uses the dataset only used for building the model.</p>
		    <hr>
		    <p class="ps">Also according to the problem statement, the application should predict the wind power for the next 72 hours, which requires alot of training, therefore due to the lack of computation power and TIME, the model is not trained well, it should be trained for many epochs.</p>
		  </div>
     </div>
   </body> 
</html>
